@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Antonio:wght@600&family=Catamaran&family=Convergence&family=Heebo:wght@700;900&family=Noto+Sans+KR&family=Open+Sans:wght@800&family=Outfit:wght@400;700&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Antonio:wght@600&family=Convergence&family=Heebo:wght@700;900&family=Noto+Sans+KR&family=Open+Sans:wght@800&family=Outfit:wght@400;700&family=PT+Sans:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Outfit, sans-serif;
    list-style: none;
}
body{
    color: #EDEDF0;
    background-color: #00002C;
    width: 100%
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline-start: 12%;
    margin-right: 12%;
    margin-top: 4%;
}
header div a {
    font-size: 25px;
    color: #EDEDF0;
    font-weight: 800;
}

header .navlist ul{
    display: flex;
   
    font-size: 20px;
    margin-left: 25%;
   
}

header .navlist ul li{
    padding: 0 35px;
}

header .fa-bars{
    display: none;
    
    
    transition: 2s;
}
header .fa-times{
    transform: rotate(180deg);
}


.dis .dis1{
    display: flex;
    justify-content: space-between;
    margin-inline-start: 12%;
    margin-block-start: 7%;
    margin-inline-end: 12%;
}
.dis .dis1 .dis-text h1{
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 15px;
}
.dis .dis-text p{
    font-size: 20px;
   }

.dis .dis1 .dis-text .btn{
    padding-top: 32px;
}
.dis .dis1 .dis-text .btn .buy{
    
    width: 49%;
    text-align: center;
    padding: 14px 0;
    font-size: 25px;
    background-color: #827BD0;
    border-bottom-right-radius: #827BD0;
    color: #EDEDF0;
    border-radius: 40px;
   }
   .dis .dis1 .dis-text .btn .sell{
    width: 49%;
    text-align: center;
    padding: 15px 0;
    background: #040047;
    color: #EDEDF0;
    font-size: 25px;
    border-radius: 45px;
   }
.ftd{
    display: flex;
    flex-direction: column;
    margin-inline-start: 12%;
    margin-inline-end: 12%;
    margin-block: 5%;
}
.ftd .on{
    color: #EDEDF0;
    font-weight: 800;
    font-size: 25px;
}
.ftd .ftd-list{
    text-align: center;
    margin-block-start: 15px;
    line-height: 30px;
    padding: 10px;
}
.ftd .ftd-list .hh{
    font-weight: 800;
    font-size: 40px;
}
.ftd .ftd-list{
    background-color: #040047;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 12%;
}
.mm .build1 .aa9 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 15%;
    color: #C4C4CD;
   }
   .mm .build1 .ant{
    font-size: 40px;
    line-height: 35px;
    margin-block: 20px;
   }
   .mm .build1 p{
    font-size: 25px;
    margin: 30px 0;
    color: #555468;
    line-height: 28px;
   }
.mm .build1 .btn1 .view{
    font-size: 18px;
    text-align: center;
    padding: 25px 20%;
    background-color: #827BD0;
    margin-bottom: 20px;
    color: #EDEDF0;
    border-radius: 45px;
   }
.hhh{
    text-align: center;
    padding-block: 10%;
}
.hhh .ttt{
    padding: 20px;
}

.hhh .ttt .s{
    color: #EDEDF0;
    font-size: 22px;
    
}
.hhh .ttt .ss{
    color: #EDEDF0;
    font-weight: 800;
    font-size: 32px;
}
.hhh .ttt .sss{
    color: #EDEDF0;
    font-weight: 800;
    font-size: 32px;
}
/* .bbb{
    margin: 10%;
} */
.bbb .aa{
    display: flex;
    margin-inline: 10%;
   
}
.Item {
    border: 1px solid #EDEDF0;
    margin: 3%;
    border-radius: 20px;
    background-color: #130F42;
    border-color: #130F42;
}
.Item .qqq{
    width: 40%;
    border-radius: 50%;
    margin-bottom: 50px;
    
    margin-top: -60px;
    margin-inline-start: 28%;
   
}
.Item .prn{
   
    margin-bottom: 20px;
    text-align: center;
}
.Item p{
    margin-bottom: 25px;
    text-align: center;
}
.are{
    text-align: center;
    color: #EDEDF0;
    margin-inline: 12%;
    margin-block-start: 3%;
    padding: 10%;
    border-radius: 15px;
    border: 1px solid #fff;
    background: linear-gradient(0.25turn, #4F45B8, #737DC5, #93B0D1);
}
.are .oo .are1 {
    color: #000;
    font-size: 24px;
    padding-block: 20px;
}

.are .oo .are2 h1{
    font-size: 29px;
    line-height: 25px;
    padding-block-end: 13px;
}

.are .btn1 .view{
    margin-top: 10px;
    text-align: center;
    padding: 12px 40px;
    background-color: #000;
    margin-bottom: 20px;
    border-bottom-right-radius: 1px solid #000;
    color: #EDEDF0;
    border-radius: 22px;
   }
.cccc{
  margin-inline: 12%;
  margin-block: 4%;
}
 .jjj{
    display: flex;
    
}
.item2 h1{
    font-size: 20px;
    text-align: center;
}
.item2 h3{
    font-size: 15px;
    text-align: left;
}
.item2 p{
    font-size: 12px;
    text-align: left;
    line-height: 25px;
}
.item3 .i33 p{
    display:none;
}
.email{
    padding: 13px 250px 15px 24px;
    font-size: 13px;
    background-color: #130F42;
    color: #B8B8C3;
    border-radius: 40px;
    border: none;
    margin-block-start: 5px;
}
.sub{
    border-radius: 40px;
    font-size: 16px;
    font-family: Outfit, sans-serif;
    color: #B8B8C3;
    position: absolute;
    border: none;
    padding: 10px 42px 12px 42px;
    margin-inline-start: -147px;
    background-color: #827BD0;
    margin-block-start: 5px;
}

.cccc{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.cccc .jjj .item3{
    padding-inline-end: 30px;
}








@media (min-width:280px) and (max-width:900px){

    header{
        
        margin-inline-start: 3%;
        margin-right: 3%;
    }
    header .navlist{
        position: fixed;
        top: -80%;
        width: 90%;
        background: #040047;
        text-align: center;
    }
    header .navlist ul{
        margin-left: 0;
        margin-right: 0;
    }
    header .navlist ul{
        flex-direction: column;
    }
    header .fa-bars{
        display: block;
        font-size: 35px;
    }
    header .navlist ul li{
        transform: translateX(0%);
        font-size: 25px;
   }
   
   header .nav-toggle{
    top: 10%;
    opacity: 1;
   }
   .dis{
    margin-block-start: 40px;
   }
   .dis .dis1{
    display: block;
    margin-inline-start: 3%;
    margin-inline-end: 2%;
   }
   .dis .mnt img{
    width:  calc(100% - 30px);
   }
   .dis .dis-text h1{
    font-size: 40px;
   }
   .dis .dis1 .dis-text .btn{
    display: flex;
   }
   /* .dis .dis1 .dis-text .btn .buy{
    
    width: 25%;
    text-align: center;
    padding: 12px 0;
    background-color: #827BD0;
    border-bottom-right-radius: #827BD0 ;
    color: #EDEDF0;
    border-radius: 22px;
   }
   .dis .dis1 .dis-text .btn .sell{
    width: 25%;
    text-align: center;
    padding: 12px 0;
    background: #040047;
    color: #EDEDF0;
    border-radius: 22px;
   } */
   .ftd{
    margin-inline-start: 4%;
    margin-inline-end: 4%;
   }
   .ftd .ftd-list{
    flex-direction: column;
   
    list-style: 45px;
   }
   .mm{
    display: block;
    margin-inline: 1%;
   }
   .mm  img{
    /* width: 50%;
    margin-inline-start: 25%; */
    display: none;

   }
   .mm .build1{
    margin-inline-start: 4%;
    margin-inline-end: 4%;
    margin-block: 10%;
   }
   /* .mm .build1 .aa9 {
    font-size: 17px;
   }
   .mm .build1 .ant{
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 12px;
   }
   .mm .build1 p{
    font-size: 10px;
    margin: 2% 0;
   } */
   /* .mm .build1 .btn1 .view{
   
    text-align: center;
    padding: 12px 40px;
    background-color: #827BD0;
    margin-bottom: 20px;
    color: #EDEDF0;
    border-radius: 22px;
   } */
   .bbb .aa{
   display: block;
   margin-inline: 3%;
   
}
.are{
    margin-inline: 6%;
}
   .Item {
    border: 1px solid #EDEDF0;
    margin-block: 25%;
    border-radius: 20px;
    background-color: #130F42;
    border-color: #130F42;
}
   .Item .qqq {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: -20%;
    margin-inline-start: 29%;
}
.are .btn1 .view{
    margin-top: 10px;
    text-align: center;
    padding: 12px 40px;
    background-color: #000;
    margin-bottom: 20px;
    border-bottom-right-radius: 1px solid #000;
    color: #EDEDF0;
    border-radius: 22px;
   }
.jjj{
    align-items: flex-start;
    flex-direction: column;
}
.item3  {
    width: 100%;
    position: relative;
}
.item3 .i33{
    padding: 1.5rem;
    background-color: #4F45B8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.item3 .i33 p{
    display: block;
}
.item3:hover .i44{
    margin-bottom: -22%;
    opacity: 1;
    visibility: visible;
    transition: .2s;
}
.i44 {
    background-color: #4F45B8;
    border-radius: 4px ;
    width: 100%;
    bottom: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}  
.i44 .i55{
    padding: 1rem;
    color: #B8B8C3;
}
.item23 .bttn{
    margin-bottom: 10%;
}
.email{
    padding: 15px 150px 15px 24px;
    margin-block-start: 30px;
}
.sub{
    margin-block-start: 32px;
    padding: 10px 30px 12px 30px;
    margin-inline-start: -120px;
   
}
.item2 h2{
    margin-block-start: 40px;
}
.cccc{
   display: block;
   margin-inline: 7%;
    margin-block: 10%;
}
.cccc .jjj .item3{
    padding-inline-end: 0px;
}

   
}
@media (min-width:1349px){
    header .navlist ul{
        margin-left: 45%;
    }
    .cccc .jjj .item2{
        padding-inline-end: 62px;
        
    }
    
    .cccc .jjj .item3{
        padding-inline-end: 90px;
    }
    
}

@media (min-width:1440px){
    header .navlist ul{
        margin-left: 50%;
    }
    .cccc .jjj .item2{
        padding-inline-end: 62px;
        
    }
    
    .cccc .jjj .item3{
        padding-inline-end: 90px;
    }
    
}
/* @media (min-width:1024px) and (max-width:1344px){
} */




